.collection {
  margin: auto 50px;
  padding: 20px;
}
.collection .banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.collection .banner .line {
  width: 40%;
  margin: auto;
  border-bottom: 1px solid var(--red);
}
.collection h2 span:first-child {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}
@media only screen and (max-width: 600px) {
  .collection .banner {
    justify-content: center;
  }
  .collection .banner .line {
    display: none;
  }
  .collection h2 span:first-child {
    margin-left: 0px;
  }
}

.btn {
  border: solid 1px var(--red);
  background-color: #ffff;
}

.btn:hover {
    background-color: var(--red);
    transition: 0.4s;
    color: #ffffff;
}

.pull-right .view-more {
  padding: 5px 10px;
  color: var(--red);
  font-size: 18px;
}
.pull-right .view-more:hover {
    color: #ffffff;
}
.collection-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}