@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body * {
  background-attachment: scroll;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
body {
  background: #fff;
  overflow-x: hidden;
}

:root {
  --red: #8F555C;
  --yellow: #dea249;
  --dark-yellow: #936b30;
  --light-yellow: #E7BD7F;
  --gray: #898989;
  --dark-gray: #626262;
  --dark-blue: #2A2A2C;
  --gold: #e8b56a;
}
.root {
  font-size: 16px;
}
footer {
  background-color: var(--red);
  height: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 5px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
